@model LaboratorioCINAPFinal.Models.RegistroPrestamoMaterial

@{
    ViewBag.Title = "Eliminar Prestamo";
}

<h2>Eliminar Prestamo</h2>

<h3>Deseas eliminar este prestamo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoDescripcionEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDescripcionEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoDescripcionRecibido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDescripcionRecibido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoFuncionalEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoFuncionalEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoFuncionalRecibido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoFuncionalRecibido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo.Materia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.Materia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.CodigoSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.CodigoSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.ID_Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.ID_Persona)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn-danger" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
