@model LaboratorioCINAPFinal.Models.Material

@{
    ViewBag.Title = "Eliminar Material: " + Model.TipoMaterial.Nombre;
}

<h2>Eliminar Material</h2>

<h3>Deseas eliminar este material?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Codigo de Serie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoSerie)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMaterial.Nombre)
        </dd>

        <dt>
            Disponibilidad
        </dt>

        <dd>
            @if (Model.Disponibilidad != null && Model.Disponibilidad.Value)
            {
                @:Disponible
            }
            else
            {
                @:No Disponible
            }
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @if (Model.EstadoFuncional != null && Model.EstadoFuncional.Value)
            {
                @:Funcional
            }
            else
            {
                @:No Funcional
            }
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDescripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn-danger" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
