@model LaboratorioCINAPFinal.Models.Material

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoFuncional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoFuncional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMaterial.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMaterial.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Material }) |
    @Html.ActionLink("Back to List", "Index")
</p>
