@model LaboratorioCINAPFinal.Models.Material

@{
    ViewBag.Title = "Detalles Material: " + Model.TipoMaterial.Nombre;
}

<h2>Codigo @Html.DisplayFor(model => model.CodigoSerie) - @Html.DisplayFor(model => model.TipoMaterial.Nombre)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Codigo de Serie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoSerie)
        </dd>
        
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMaterial.Nombre)
        </dd>

        <dt>
            Disponibilidad
        </dt>

        <dd>
            @if (Model.Disponibilidad != null && Model.Disponibilidad.Value)
            {
                @:Disponible
            }
            else
            {
                @:No Disponible
            }
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @if (Model.EstadoFuncional != null && Model.EstadoFuncional.Value)
            {
                @:Funcional
            }
            else
            {
                @:No Funcional
            }
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDescripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Material }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
