@model IEnumerable<LaboratorioCINAPFinal.Models.Material>

@{
    ViewBag.Title = "Materiales";
}

<h2>Materiales</h2>

<p>
    @Html.ActionLink("Insertar nuevo material", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Codigo de Serie
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoMaterial.Nombre)
        </th>
        <th>
            Disponibilidad
        </th>
        <th>
            Estado
        </th>
        <th>
            Descripcion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoMaterial.Nombre)
        </td>
        <td>
            @if (item.Disponibilidad != null && item.Disponibilidad.Value)
            {
                @:Disponible
            }
            else
            {
                @:No Disponible
            }
        </td>
        <td>
            @if (item.EstadoFuncional != null && item.EstadoFuncional.Value)
            {
                @:Funcional
            }
            else
            {
                @:No Funcional
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoDescripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_Material }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_Material }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_Material })
        </td>
    </tr>
}

</table>
