@model IEnumerable<LaboratorioCINAPFinal.Models.Material>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoFuncional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoMaterial.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponibilidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoFuncional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoMaterial.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Material }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Material }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Material })
        </td>
    </tr>
}

</table>
