@model LaboratorioCINAPFinal.Models.Reporte

@{
    ViewBag.Title = "Eliminar Reporte: " + Model.Nombre;
}

<h2>Eliminar Reporte</h2>

<h3>Deseas eliminar este reporte?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Inicio de Periodo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioPeriodo)
        </dd>

        <dt>
            Fin de Periodo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTerminacionPeriodo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn-danger" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
