@model IEnumerable<LaboratorioCINAPFinal.Models.Reporte>

@{
    ViewBag.Title = "Index";
}

<h2>Reportes</h2>

<p>
    @Html.ActionLink("Crear nuevo reporte", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Inicio de Periodo
        </th>
        <th>
            Fin de Periodo
        </th>
        @*
    <th>
        @Html.DisplayNameFor(model => model.Temporal)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TipoReporte.Nombre)
    </th>
        *@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicioPeriodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaTerminacionPeriodo)
        </td>
        @*
    <td>
        @Html.DisplayFor(modelItem => item.Temporal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TipoReporte.Nombre)
    </td>
        *@
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_Reporte }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_Reporte }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_Reporte })
        </td>
    </tr>
}

</table>
